// colors
$bg-color:#F4FBFB;
$input-color: #EBF3F5;
$text-color: #27284C;
$white-color: #FFFFFF;
$black-color: #333333;
$gray-info: #5E5C5C;

// pokémons type colors

$grass-card: #BBE4B0;
$grass-type: #78C750;

$water-card: #bdcffd;
$water-type: #688FEF;

$fire-card: #ffb37d;
$fire-type: #EC7E2F;

$bug-card: #d2db82;
$bug-type: #A7B720;

$fairy-card: #fac2ce;
$fairy-type: #ee879d;

$normal-card: #e6e6bf;
$normal-type: #A8A878;

$fighting-card: #f16277;
$fighting-type: #C02038;

$flying-card: #c8baf3;
$flying-type: #A890F0;

$poison-card: #bd89bd;
$poison-type: #A040A0;

$ground-card: #e7d297;
$ground-type: #DEBF67;

$rock-card: #e7d378;
$rock-type: #B8A038;

$ghost-card: #827499;
$ghost-type: #6F5797;

$steel-card: #cacacf;
$steel-type: #acaccf;

$electric-card: #f7db6e;
$electric-type: #F8D030;

$psychic-card: #fd82a7;
$psychic-type: #F85888;

$ice-card: #b8d6d6;
$ice-type: #3ebebe;

$dragon-card: #a07bf7;
$dragon-type: #7038F8;

$dark-card: #504f4e;
$dark-type: #161514;